@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --color01: #e92569;
  --color02: #767676;
  --color03: #efefef;

  --font01: "Playfair Display", serif;
  --font02: "Lato", sans-serif;
}

* {
  font-family: var(--font02);
  text-decoration: none;
  list-style: none;
  color: var(--color02);

  /* box-shadow: 0px 0px 0px 1px hsla(180, 100%, 20%, 0.5) inset; */
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

#root > .wrapper {
  flex: 1 0 auto;
  background: var(--color03);
}
